[Unit]
Description=Gimnera - monitor cada 5 minutos

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=30s
Persistent=true
Unit=gimnera-monitor.service

[Install]
WantedBy=timers.target
